body{
    font-family: 'Alegreya',serif;
}
header{
    background-image: url("../images/header.jpg");
    background-size: cover;
}
h1,h2{
    font-size: 130%;
}
h3{
    font-size: 115%;
}
h4,h5{
    font-size: 100%;
}
#logo{
    width: 70%;
}
.intro{
    margin: 20% auto 0;
    background-color: rgba(1,1,1,0.05);
}

#heading1 {
    font-family: 'Shadows Into Light',cursive;
    font-size: 2.5rem;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
#heading2 {
    font-size: 3rem;
    font-family: 'Shadows Into Light', cursive;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    font-weight: bolder;
}
.navbar-light{
    background-color: rgba(255,255,255,1);
}
#introduction, #education, #system{
    margin: 10% 0;
}

.education-head, .system-head{
    margin-bottom: 5%;
}

#education, #system{
    padding: 5% 0;
}

#intro-img{
    margin: 2% auto;
}

.intro-text {
    text-align: justify;
    margin: 2% auto;
}

.intro-head, .skills-head{
    font-family: 'Merriweather', serif;
    color: #11999e;
    margin-bottom: 5%;
}

#education, #system{
    background-color: #11999e;
}


#img-michigan, #img-iiest, #img-model{
    width: 0;
    border-width: 0;
}
.media{
    margin: 2% 0;
}


.card-body, #education p{
    background-color: #11999e;
    color: #f7fbfc;
}

#education h4{
    color: #0c056d;
}

#education h5{
    color: #283149;
}
.card-title, #education h3{
    color: #071a52;
}
.education-head, .system-head{
    font-family: 'Merriweather', serif;
    color: white;
    padding-top: 5%;
}
.system-body{
    color: #f7fbfc;
    font-family: 'Bebas Neue',cursive;
    line-height: 2;
}
    
#footerHeading1{
    font-family: 'Shadows Into Light',
    cursive;
    font-size: 2.5rem;
}
#footerHeading2{
    font-size: 3rem;
    font-family: 'Shadows Into Light',
    cursive;
    font-weight: bolder;
}
.fa-facebook-square{
    color: #3b5998;
}
.fa-linkedin{
    color: #0e76a8;
}
.footer-body{
    margin-bottom: 10%;
}
a:hover{
    text-decoration: none;
}
@media all and (min-width: 768px){
    body {
        font-family: 'Alegreya', serif;
        font-size: 1.2rem;
    }
    .intro {
        margin: 20% auto 5%;
        background-color: rgba(1, 1, 1, 0.05);
    }

    #heading1 {
        font-family: 'Shadows Into Light', cursive;
        font-size: 300%;
        text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    }

    #heading2 {
        font-size: 400%;
        font-family: 'Shadows Into Light', cursive;
        text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
        font-weight: bolder;
    }
    .intro-head, .skills-head {
        font-family: 'Merriweather', erif;
        color: #11999e;
        font-size: 150%;
    }
    #img-michigan, #img-iiest, #img-model {
        width: 20%;
    }

    #div-iiest{
        text-align: right;
    }
    .system-body {
        color: #f7fbfc;
        font-family: 'Bebas Neue', cursive;
        line-height: 2;
        font-size: 120%;
    }
    .education-head, .system-head{
        font-size: 150%;
    }
    h3{
        font-size: 150%;
    }
    #footerHeading1 {
        font-family: 'Shadows Into Light',
            cursive;
        font-size: 200%;
    }
    #footerHeading2{
        font-size: 300%;
        font-family: 'Shadows Into Light',
        cursive;
        font-weight: bolder;
    }
    #insta{
        width: 30%;
    }
    
}